body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.26); 
}