$fs-14: 14px;
$fs-18: 18px;
$fs-24: 24px;
$fs-34: 34px;
$border-lightgray: 1px solid lightgray;
$border-lightgreen: 1px solid lightgreen;
$bg-white: white;
$bg-gray: gray;
$bg-lightgray: lightgray;
$bg-lightgreen: lightgreen;
$color-white: white;
$color-black: black;
$color-gray: gray;
$color-deepskyblue: deepskyblue;