@import "_constant";
@import "_common";
@import "_header";

main {
	width: 80%;

	> h2 {
		padding: 10px 220px;
		background: $bg-lightgray;
		font-weight: normal;
		color: $color-white;
	}

	form {
		display: flex;
		width: 35%;
		flex-flow: column wrap;
		gap: 20px;
		height: 400px;
		padding-left: 220px;

		> label {
			width: 100%;
			position: relative;
			font-size: $fs-14;
			color: $color-gray;

			> input {
				width: 90%;
				padding: 10px 20px;
				border: $border-lightgray;

				&[type=file]::file-selector-button {
					display: none;
				}

				&[type=datetime-local]::-webkit-calendar-picker-indicator {
					width: 24px;
					height: 24px;
					position: absolute;
					right: 5%;
					background-image: url(../image/baseline_event_black_24dp.png);
					opacity: 0.26;
				}
			}

			> span {
				position: absolute;
				top: 45%;
				right: 5%;
			}

			> select {
				width: 98%;
				padding: 9px 20px;
				border: $border-lightgray;
			}

			> textarea {
				width: 97%;
				height: 105px;
				border: $border-lightgray;
			}
		}

		> div {
			width: 56%;
			margin-top: 400px;
			position: absolute;
			display: flex;
			justify-content: flex-end;
			gap: 20px;

			> button {
				padding: 5px 40px;
				font-size: $fs-18;

				&.cancel {
					background: $bg-white;
					border: $border-lightgray;
					color: $color-gray;
				}

				&.sign-up {
					background: $bg-lightgreen;
					border: $border-lightgreen;
					color: $color-white;
				}
			}
		}
	}
}